certifi==2020.6.20
chromedriver-autoinstaller==0.2.2
geographiclib==1.50
geopy==2.0.0
h11==0.11.0
httpcore==0.12.0
httpx==0.16.1
idna==2.10
ImageHash==4.1.0
numpy==1.19.2
Pillow==7.2.0
python-dateutil==2.8.1
PyWavelets==1.1.1
rfc3986==1.4.0
scipy==1.5.2
selenium==3.141.0
selenium-wire==2.1.1
six==1.15.0
sniffio==1.1.0
urllib3==1.25.10