name: 'Build & Push Image'

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - name: "Build:checkout"
        uses: actions/checkout@v2
      - name: 'Build:dockerimage'
        uses: docker/build-push-action@v2
        with:
          registry: ghcr.io
          username: "mxrch"
          password: ${{ secrets.GHCR_TOKEN }}
          repository: mxrch/ghunt
          tags: latest
